<!-- src/app/shared/components/layout/layout.component.html -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- / Sidebar -->

    <!-- Layout page -->
    <div class="layout-page">
      <!-- Navbar -->
      <app-navbar [pageTitle]="pageTitle"></app-navbar>
      <!-- / Navbar -->

      <!-- Content wrapper -->
      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
          <ng-content></ng-content>
        </div>
      </div>
      <!-- / Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>
</div>
