<!-- src/app/shared/components/navbar/navbar.component.html -->
<nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme shadow" id="layout-navbar">
  <div class="container-xxl">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
      <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)" (click)="toggleMobileMenu()">
        <i class="bx bx-menu bx-sm"></i>
      </a>
    </div>
    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
      <div class="navbar-nav align-items-center">
        <div class="nav-item mb-0">
          <a class="nav-item nav-link px-0 text-uppercase fw-bold fs-big text-dark" href="javascript:void(0)">
            <span>{{ pageTitle }}</span>
          </a>
        </div>
      </div>
      <ul class="navbar-nav flex-row align-items-center ms-auto">
        <li class="nav-item">
          <a class="nav-link user-link text-capitalize text-primary fw-bold fs-big fst-italic"
             href="javascript:void(0);">{{ userName }}</a>
        </li>
        <li class="nav-item ms-2">
          <i class="fa-solid fa-right-from-bracket cursor-pointer" title="Log Out" (click)="logout()"></i>
        </li>
      </ul>
    </div>
  </div>
</nav>
